.bookingConfirmation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5em;
}

.bookingConfirmation .confirmationButton {
    color: #333333;
    background-color: #F4CE14;

    font-size: 1em;
    font-weight: 550;

    padding: 1em 1.5em 1em 1.5em;

    border: none;
    border-radius: .5em;
}

.bookingConfirmation .confirmationButton:hover {
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .bookingConfirmation .confirmationButton {
        font-size: .9em;
    }
}

@media screen and (max-width: 500px) {
    .bookingConfirmation {
        gap: 3em;
    }

    .bookingConfirmation .confirmationButton {
        font-size: .75em;
    }
}

@media screen and (max-width: 350px) {
    .bookingConfirmation {
        gap: 2em;
    }

    .bookingConfirmation .confirmationButton {
        font-size: .55em;
    }
}

@media screen and (max-width: 275px) {
    .bookingConfirmation {
        gap: 1.5em;
    }

    .bookingConfirmation .confirmationButton {
        font-size: .45em;
    }
}